{% extends "base.html.twig" %}

{% block title %}Page non trouvée
{% endblock %}

{% block body %}
	<div id="error-page">
		<main class="container">
			<section class="row">
				<div class="col-12 text-center">
					<h1>Erreur interne du serveur</h1>
					<p>Une erreur est survenue sur le serveur. Veuillez réessayer plus tard ou contacter l'administrateur du site pour obtenir de l'aide.</p>
				</div>
			</section>
		</main>
	</div>

{% endblock %}
