{% extends "base.html.twig" %}

{% block title %}Page non trouvée
{% endblock %}

{% block body %}
	<div id="error-page">
		<main class="container">
			<section class="row">
				<div class="col-12 text-center">
					<h1>Accès non autorisé</h1>
					<p>Vous n'êtes pas autorisé à accéder à cette page. Veuillez vous connecter ou contacter l'administrateur du site pour obtenir de l'aide.</p>
				</div>
			</section>
		</main>
	</div>

{% endblock %}
